.root {
  min-height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.25rem;

  background: linear-gradient(160deg, #23164D 0%, #08182F 100%);
}

.content {
  width: 100%;
  max-width: 22rem;
}
